/* Global Styles */
body {
  padding: 20px;
  background-color: #ADD8E6;
}

div.container {
  padding: 20px;
}

label {
  font-size: 18px;
}

/* Form Styling */
form {
  background-color: #ADD8EF;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: 25%;
  text-align: center;
  float: left;
}
input {
  width: 80%;
  height: 20px;
  font-size: 16px;
  margin-bottom: 5%;
}

input:hover {
  border: none;
  height: 22px;
  font-size: 18px;
}

/* Story Section Styling */
#storySection {
  background-color: #ADD8EF;
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
  float: left;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 50px;
  padding-top: 20px;
  width: 60%;
  overflow: scroll;
  max-height: 500px;
}

#storySection:hover, form:hover {
  background-color:  #ADD8FF;
}

h1 {
  font-size: 60px;
  padding-top: 160px;
  margin-bottom: 250px;
}

h2 {
  font-size: 20px;
}

h2.madSentence {
  margin-bottom: 300px;
  font-size: 50px;
}

/* Credits Styling */
h2#credits {
  margin-bottom: 30px;
  font-size: 50px;
}

h2#formTitle {
  text-decoration: underline;
}

ul#creditList {
  list-style: none;
  width: 80%;
}

ul#creditList li {
  font-size: 40px;
  margin-bottom: 20px;
}

/*Image Addition Styling */
div.assetsBox {
  text-align: center;
}

img.practiceImage {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

/* Footer Styling */
footer {
  background-color: #ADD8EF;
  position: fixed;
  width: 60%;
  padding: 10px;
  padding-top: 15px;
  float: left;
  height: 5%;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  bottom: 60px;
  right: 75px;
}
